{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4 mb-2 p-2">
                        <a class="card w-100 h-100 product-card" href="{{ path('product_show',{id: product.id}) }}">
                            <img src="{{ vich_uploader_asset(product, 'pictureFile') }}" class="card-img-top picture-card"
                                 alt="{{ product.picture }}">
                            <div class="card-body">
                                <h5 class="card-title text-center">{{ product.title }}</h5>
                                <p class="card-text">prix : {{ product.price }} €</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
    </section>
    <section>
            <div class="row">
                {% for user in users %}
                    <div class="card col-md-4">
                        <img src="{{ user.avatar_url }}" class="card-img-top" alt="{{ user.login }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ user.login }}</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
