{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="text-center w-75 m-auto">Bienvenue sur Street Style</h1>
    <section>
        <h2 class="text-center w-75 m-auto">Découvrez nos produits</h2>
        <div class="container">
            <div class="row d-flex flex-row justify-content-center">
                <div class="filter-form p-2 p-5">
                    {{ form_start(form) }}
                    {{ form_row(form.category, {'label': 'Filtrer :'}) }}
                    <button class="btn btn-primary mt-2">Appliquer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4 mb-3 p-2">
                        <a class="card w-100 h-100 product-card" href="{{ path('product_show',{id: product.id}) }}">
                            <img src="{{ vich_uploader_asset(product, 'pictureFile') }}"
                                 class="card-img-top p-2 picture-card"
                                 alt="{{ product.picture }}">
                            <div class="card-body">
                                <h5 class="card-title text-center">{{ product.title }}</h5>
                                <p class="card-text text-center">prix : {{ product.price|number_format(2, ',', ' ') }} €</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section>
        <h2 class="text-center w-75 m-auto">Découvrez l'avis de nos utilisateurs</h2>
        <div class="container">
            <div class="row">
                {% for key, user in users %}
                    <div class="col-md-4 mb-2 p-2">
                        <div class="card w-100 h-100 product-card">
                            <img src="{{ user.avatar_url }}"
                                 class="card-img-top p-2 picture-card"
                                 alt="{{ user.login }}">
                            <div class="card-body">
                                <h5 class="card-title text-center">{{ user.login }}</h5>
                                <p class="card-text text-center">{{ quotes[key].quote }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
