{{ form_start(form) }}
    {{ form_row(form.title, {'label': 'Titre'}) }}
    {{ form_row(form.price, {'label': 'Prix'}) }}
    {{ form_row(form.availableSize, {'label': 'Tailles disponibles'}) }}
    {{ form_row(form.availableColor, {'label': 'Couleurs disponibles'}) }}
    {{ form_row(form.description, {'label': 'Description'}) }}
    {{ form_row(form.category, {'label': 'Catégorie'}) }}
    {{ form_row(form.pictureFile, {'label': 'Telecharger une photo du produit'}) }}
<div class="d-flex flex-row justify-content-center mt-3">
    <button class="btn btn-primary" class="btn">{{ button_label|default('Sauvegarder') }}</button>
</div>
{{ form_end(form) }}
