{% extends 'base.html.twig' %}

{% block title %}Index des produits{% endblock %}

{% block body %}
    <h1>Index des produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Prix</th>
                <th>Image</th>
                <th>Tailles disponibles</th>
                <th>Couleurs disponibles</th>
                <th>Description</th>
                <th>date de création</th>
                <th>date de mise à jour</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.picture }}</td>
                <td>{{ product.availableSize }}</td>
                <td>{{ product.availableColor }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">Voir produit</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('product_new') }}">Ajouter un produit</a>
{% endblock %}
