{% extends 'base.html.twig' %}

{% block body %}
    <div class="container h-100 d-flex flex-column justify-content-center">
        <div class="jumbotron p-md-3 mt-md-4">
            <h1 class="text-center">{{ product.title }}</h1>
            <img src="{{ vich_uploader_asset(product, 'pictureFile') }}" class="product-detail" alt="{{ product.picture }}">
            <hr class="my-4">
            <p class="text-center">{{ product.description }}</p>
            <table class="table">
                <tbody>
                <tr>
                    <th>Catégorie</th>
                    <td>{{ product.category.name }}</td>
                </tr>
                <tr>
                    <th>tailles disponibles</th>
                    <td>{{ product.availableSize }}</td>
                </tr>
                <tr>
                    <th>couleurs disponibles</th>
                    <td>{{ product.availableColor }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ product.price }}$</td>
                </tr>
                </tbody>
            </table>
            <div class="d-flex flex-row justify-content-around">
                    <a class="btn btn-primary" href="{{app.request.headers.get('referer')}}">retour</a>

                    <a class="btn btn-primary" href="{{ path('product_edit', {'id': product.id}) }}">éditer</a>

                    {{ include('product/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
